@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-wrapper {
    background-color: #ffffff;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.register-left {
    width: 50%;
    padding: 20px 40px 60px 80px;
    color: #3b302a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

    .register-left > * {
        width: 100%;
        max-width: 400px;
    }

.signup-title {
    color: #3b302a;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 70px;
    text-align: center;
}

.welcome {
    color: #3b302a;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

.form-box {
    width: 100%;
    text-align: left;
}

.input-group {
    margin-bottom: 15px;
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
        color: #3b302a;
    }

.form-box input {
    width: 100%;
    padding: 10px 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.input-error {
    border-color: red !important;
}

.submit-btn {
    margin: 25px auto 0 auto;
    display: block;
    width: 180px;
    padding: 12px 10px;
    background: #4a3832;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
}

    .submit-btn:hover {
        background: #3b302a;
    }

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.register-right {
    width: 50%;
    padding: 20px 50px 60px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: #f9f9f9;
}

.kapebara-small-icon {
    width: 400px;
    height: auto;
    margin: 0;
}

.kapebara-mascot {
    width: 60%;
    max-width: 550px;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
}

.login-text {
    margin-top: 60px;
    color: #4E3A30;
    text-align: center;
    font-size: 1.1em;
}

    .login-text a {
        font-family: "DM Sans", sans-serif;
        text-decoration: none;
        color: #4E3A30;
        font-weight: 700;
    }

        .login-text a:hover {
            text-decoration: underline;
        }

@media (max-width: 1050px) {
    .register-wrapper {
        flex-direction: column;
        padding: 20px;
        justify-content: flex-start;
    }

    .register-left,
    .register-right {
        width: 100%;
        padding: 30px 20px;
    }

    .register-right {
        order: -1;
        padding-top: 0;
    }

    .kapebara-mascot {
        margin-top: 0;
    }

    .register-left {
        padding-bottom: 0;
    }
}
