.hero {
    height: 65vh;
    min-height: 400px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1541167760496-1628856ab772?q=80&w=1937&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 5%;
    box-sizing: border-box;
}

.hero-content h1{
    color: white;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    line-height: 1.1;
    margin-bottom: 30px;
    margin-left: 90px;
    font-weight: 800;
}

.order-btn {
    background-color: antiquewhite;
    color: saddlebrown;
    border: none;
    padding: 16px 45px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    margin-left: 90px;
}

    .order-btn:hover {
        background-color: var(--accent-brown);
        transform: translateY(-2px);
    }
